#b {
    font: bold 12px/30px Georgia, serif;
    width: 70%;
    height: 80%;
    background-color: #d0c8d1;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#keyword {
    display: none;
}

#DEc {
    display: none;
}

#MDc {
    display: none;
}

#cityMD {
    display: none;
}

#cityDE {
    display: none;
}

#finalsearch {
    display: none;
}

#submitbutton {
    display: inline-block;
}