body {
    background-color: #f9f9f9; 
    font-family: Georgia, 'Bitstream Charter', serif; 
    color: #333; 
    text-align: center; 
    height: 100%;
}

#keyword {
    display: none;
}

#DEc {
    display: none;
}

#MDc {
    display: none;
}

#cityMD {
    display: none;
}

#cityDE {
    display: none;
}

#finalsearch {
    display: none;
}

#submitbutton {
    display: inline-block;a
}

#searchBar {
    float: right;
    padding: 9px;
}

#nav, td {
    vertical-align: baseline;
}


#settingsIcon {
    float: right;
    padding: 6px 0 4px 4px;
}

#footer {
    font-size: 10px;
    text-align: center;
}

#wrapper { 
    margin: 20px auto; 
    width: 1024px; 
    background-color: #fff;
    text-align: left;
    padding: 0 20px;
    border: 2px solid #e1e1e1;
    height: 80%;
} 


/* header specific */
#header {
    padding-top: 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
#header h1 {
    font-size: 30px;
    line-height: 46px;
    margin: 0 0 18px;
}
#header h1 a {
    color: #000;
    text-decoration: none;
}

/* navigation bar styling */
#nav {
    font-size: 15px;
    background-color: #000;
    height: 46px;
    padding: 0 10px;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    float: left;
}
#nav ul li a {
    color: #aaa;
    line-height: 46px;
    padding: 0 10;
    text-decoration: none;
    display: block;
    padding: 0 10px;
}
#nav ul li a:hover {
    color: #fff;
    background-color: #333;
}

table {
    border-collapse: collapse;
}

a {
    color: #0066cc;
}

/* lists */
ul, ol {
    margin: 0 0 18px 2.25em;
    padding: 0;
}


a.button {
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9;
  color: #444;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#resBar {
    background-color: #FFF;
    border-right: 60px solid #FFF;
    border-radius: 10px;
    padding-top: 2em;
}

#borderWrap {
    border: 7px solid #c6d9ec;
    background-color: #c6d9ec;
    border-right: 2em solid #c6d9ec;
    border-radius: 10px;
    padding-left: 1.2em;
    height: 800px;
    width: 1000px;
}

#resBar a {
    color: blue;
}

#contentBoxes a {
    font-family: 'Open Sans',sans-serif;
    color: blue;
    font-size: .9em;
    line-height: 1.6em;
}

#contentBoxes p, a, h3{
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
    line-height: 1.6em;
    color: #3A4145;
}
